<div class="container">
  <div class="row">
    <div class="col-md-2">
      <router-outlet name="playlist"></router-outlet>
    </div>
    <div class="col-md-6 text-center">
      <router-outlet></router-outlet>
     <!--   <router-outlet name="show-video"></router-outlet>-->
    </div>
  </div>
</div>


<!--

<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Wi94ce_N2ps?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
</div>

<div class="col-md-4 text-center">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UbDvJQFx2CU?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
  </div>
</div>
<div class="col-md-4 text-center">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/88UVcdiP7Bw?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
  </div>
</div>
-->
