<div class="container">

<div *ngFor="let eventsyear of events">
	<div class="row">
		<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
			<ul class="event-list">
				<li *ngFor="let event of eventsyear.events">
					<time datetime="2014-07-20">
						<span class="day">{{event.day}}</span>
						<span class="month">{{event.month}}</span>
						<span class="year">{{eventsyear.year}}</span>
						<span class="time">ALL DAY</span>
					</time>
					<img alt="Concert Rockabilly" src="{{event.img}}" />
					<div class="info">
						<h2 class="title">{{event.title}}</h2>
						<p class="desc">{{event.location}}</p>
					</div>
					<div class="social">
						<ul>
							<li class="twitter" style="width:34%;"><a href="#">&nbsp;</a></li>
							<li class="facebook" style="width:33%;">
								<a *ngIf="event.fbLink !== ''"  href="{{event.fbLink}}"><span class="fa fa-facebook"></span></a>
								<a *ngIf="event.fbLink === ''"  href="#">&nbsp;</a>
							</li>
							<li class="google-plus" style="width:33%;"><a href="#">&nbsp;</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>

</div>

</div><!--container-->
