<div class="container" style="margin-top: 10em;">
  <div class="row">
    <div class="col-md-4 text-center"><img src="../../assets/img/contact-photo-rond.png" width="250px"/></div>
    <div class="col-md-4 text-center"><img src="../../assets/img/contact-mail-rond.png" width="250px"/></div>
    <div class="col-md-4 text-center"><img src="../../assets/img/contact-fb-rond.png" width="250px"/></div>
    <div class="row">
      <div class="col-md-4 text-center"><h1 class="contact-label"><b>06 00 00 00 00</b></h1></div>
      <div class="col-md-4 text-center"><h1 class="contact-label"><b>dorso.pierre@neuf.fr</b></h1></div>
      <div class="col-md-4 text-center"><h1 class="contact-label"><a href="https://www.facebook.com/RidingCats"><b>Facebook</b></a></h1></div>
    </div>
  </div>
</div>
