<div class="container">
  <div class="row">
    <div class="col-md-4 text-center"><img src="../../assets/img/contact-photo-rond.png" width="250px"/></div>
    <div class="col-md-4 text-center"><img src="../../assets/img/contact-mail-rond.png" width="250px"/></div>
    <div class="col-md-4 text-center"><img src="../../assets/img/contact-fb-rond.png" width="250px"/></div>
    <div class="row">
      <div class="col-md-4 text-center"><h1>06 00 00 00 00</h1></div>
      <div class="col-md-4 text-center"><h1>dorso.pierre@neuf.fr</h1></div>
      <div class="col-md-4 text-center"><h1><a href="https://www.facebook.com/RidingCats">Facebook</a></h1></div>
    </div>
  </div>
</div>
