<div class="container" >
  <div class="row">
    <div class="col-xs-12"><img class="img-responsive center-block" src="../../assets/img/logo.png"/></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-1"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/biographie/pierre.jpg"/></div>
    <div class="col-xs-12 col-md-6 bio box-shadowed" [innerHTML] = 'messages.bioText1'></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-1 bio box-shadowed" [innerHTML] = 'messages.bioText2'></div>
    <div class="col-xs-12 col-md-4"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/biographie/premieres-partie.jpg"/></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-1"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/biographie/pierre-2.jpg"/></div>
    <div class="col-xs-12 col-md-6 bio box-shadowed" [innerHTML] = 'messages.bioText3'></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-1 bio box-shadowed">
      <p><b><u>{{messages.bioRepTitle}}</u></b></p>
      {{messages.bioRep}}
    </div>
    <div class="col-xs-12 col-md-4"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/biographie/repertoire.jpg"/></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-1"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/biographie/guitarnews1.jpg"/></div>
    <div class="col-xs-12 col-md-6 bio box-shadowed" [innerHTML] = 'messages.bioPress'></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-1 bio box-shadowed" [innerHTML] = 'messages.bioFormation'></div>
    <div class="col-xs-12 col-md-4"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/biographie/formation.jpg"/></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-1"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/cd-two-days.jpg"/></div>
    <div class="col-xs-12 col-md-6 bio box-shadowed" [innerHTML] = 'messages.bioDisco'></div>
  </div>
</div>
