<div class="container" >
  <div class="row">
    <div class="col-xs-12"><img class="img-responsive center-block" src="../../assets/img/logo.png"/></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-1"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/biographie/pierre.jpg"/></div>
    <div class="col-xs-12 col-md-6 bio box-shadowed">
     Après avoir joué dans le groupe rock’n’roll <b>Charly Scooter</b> ( 1986 à1989) devenu <b>Scooter Atomik Band</b> (1989 à 2001) <b>Pierre Dorso</b> a remonté en 2002 <b>Atomik Band III</b>.
    <br><br>
    <p>Puis, en 2013, un groupe Rockabilly  : <b>Riding Cats</b>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-1 bio box-shadowed">
    Depuis, les <b>Riding Cats</b> ont accompagné en 2013 <a href="https://youtu.be/b9EtazNlmkc"><b>Sandy Ford des "Flying Saucer"</b></a>,
    <p><a href="https://youtu.be/rS0bcuZj1Ec?list=PLGm5xu-Um8hcGVx5tSMt0bfaZZ2vaDg4x"><b>Jeannie Vincent</b></a> en 2014,</p>
    <p>fait la 1ère partie de <b>Aux bonheur des Dames</b> au festival <b>Rock &amp; Cars</b>,</p>
    <p>et sont passés en tête d’affiche au festival <b>Realcroche</b> 2016.</p>
    </div>
    <div class="col-xs-12 col-md-4"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/biographie/premieres-partie.jpg"/></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-1"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/biographie/pierre-2.jpg"/></div>
    <div class="col-xs-12 col-md-6 bio box-shadowed">
      <b>Pierre Dorso</b> fondateur du groupe et ex-guitariste de <b>Scooter</b> a fait les 1éres parties de <b>INMATES, Charly MC COY, CRAZY CAVAN</b> (à plusieurs reprises).
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-1 bio box-shadowed">
      <p><b><u>Répertoire</u></b></p>
      Gene Vincent, Eddie Cochran, Stray Cats, Elvis Presley et des compositions.
    </div>
    <div class="col-xs-12 col-md-4"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/biographie/repertoire.jpg"/></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-1"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/biographie/guitarnews1.jpg"/></div>
    <div class="col-xs-12 col-md-6 bio box-shadowed">
    <p><b><u>Presse</u></b></p>
    <b>Guitar News</b> : article de 3 pages dans le magasine d’Avril 1993.
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-1 bio box-shadowed">
    <p><b><u>Formation</u></b></p>
    <p>Pierre Dorso : Vocal /Lead Guitar</p>
    <p>Fred N. : Drums Choeur</p>
    <p>Fred C. : Double bass</p>
    <p></p>
    <p><b><u>Remplaçants</u></b></p>
    <p>Etienne Montastier : Drums</p>
    <p>Eric Tantot : Double bass</p>
    </div>
    <div class="col-xs-12 col-md-4"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/biographie/formation.jpg"/></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-1"><img class="img-responsive img-rounded box-shadowed" src="../../assets/img/cd-two-days.jpg"/></div>
    <div class="col-xs-12 col-md-6 bio box-shadowed">
      <p><b><u>Discographie</u></b></p>
      <p>Two Days Recording Rockabilly</p>
      <p>CD 19 titres</p>
    </div>
  </div>
</div>
