<div class="container" >
  
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 bio box-shadowed">
      <p>Ceux qui, comme moi, sont plus doués pour tenir une fourchette qu’une guitare, une contrebasse ou une batterie le savent, on croit toujours savoir faire une parfaite omelette, en un tour de main. On croit aussi qu’il suffit de connaître les quelques accords basiques nécessaires pour faire un bon groupe de rock’n’roll.</p>

    <p>Pourtant, pour peu qu’on ait un palais suffisamment éduqué, on ne croise pas tous les jours l’omelette parfaite, onctueuse, orangée, impeccablement assaisonnée, comme on croise peu de groupes de rock’n’ roll alliant énergie, groove et élégance, ingrédients inestimables pour cette musique.</p>

  <p><b>Riding Cats</b> puise sont influence dans un Rockabilly flamboyant dans le respect des anciens qui ont offert ces lignes musicales prestigieuses à la mémoire de ces trois artistes. Ils ont traversés les mouvements musicaux en grappillant ça et là quelques précieux arrangements qui donnent au groupe une originalité toute particulière.</p>

  <p>Grappiller comme des gamins qui iraient piquer les cerises dans le jardin du voisin en s’enfuyant en riant à gorge déployée, fiers d’emporter leur butin pour le partager avec nos oreilles nos jambes et nos hanches <b>"Shake ours bodies babies !!"</b>

  <p><b>Riding Cats</b> a gardé cette furieuse impertinence de l’enfance, celle qui dévale encore dans nos esprits, qui enjambe les portillons des vergers, celle qui se repaît des fruits de la vie... Après tout, n’est-ce pas ça le Rock’n’roll ?</p>

<p class="text-right"><b>Pierre Domenges</b></p>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 bio box-shadowed">
      <p><b>Riding Cats</b> : une guitare, une contrebasse, une batterie, et des hommes derrière chacune d'elles au service de la musique et du rockabilly... du talent à revendre, de l'énergie nucléaire, un jeu de scène décoiffant, un son énorme, la panoplie complète pour un concert comme on les aime.</p>
      <p><b>Riding Cats</b> c'est la conjugaison de trois amoureux du Rock'n Roll. Au delà des reprises (standard allant des années Sun Studio aux Stray Cats), ils amènent leur singularité et inventivité pour incorporer leurs propres compositions dans cet esprit du Rock pur et dur, rugueux mais mélodieux. Les voir et les entendre c'est l'assurance de vouloir y regoûter un jour.</p>
      <p>&Agrave; ne manquer sous aucun prétexte. Régalez vous !</p>

<p class="text-right"><b>Ricky T.</b></p>

    </div>
  </div>
</div>
